In [21]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np

In [5]:
req_1 = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data_1 = req_1.content

In [7]:
df_1 = pd.read_csv(BytesIO(data_1))

In [8]:
df_1.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [10]:
round(117/df_1.users.sum() * 100, 0)

41.0

In [19]:
browsers_df = pd.read_csv('7_browser.csv')

In [29]:
browsers_df

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [24]:
browsers_df.shape

(24, 4)

In [41]:
browsers_df.browser.str.contains('Chrome')

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
Name: browser, dtype: bool

In [44]:
((browsers_df.user_type == 'Robots') & browsers_df.browser.str.contains('Chrome'))

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
dtype: bool

In [46]:
chrome_robots = pd.Series(np.where((browsers_df.browser.str.contains('Chrome')) & (browsers_df.user_type == 'Robots') , 1, 0))

In [47]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int32

In [48]:
sample_ads_df = pd.read_csv('sample_ads.csv')

In [49]:
sample_ads_df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [51]:
not_nan_count = sample_ads_df.dropna()

In [52]:
not_nan_count

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
4   12345   tynuy        top
6   12345   oirbv        top
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
14  12345  pi3bvk        top
15  12345  osbvor     center
17  12345   o3b0v        top